<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li<%= sidebar_current("docs-home") %>>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>
  
            <li<%= sidebar_current("docs-ad-index") %>>
              <a href="/docs/providers/ad/index.html">Active Directory Provider</a>
            </li>
  
            <li<%= sidebar_current("docs-ad-data-source") %>>
              <a href="#">Computer</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-ad-computer") %>>
                  <a href="/docs/providers/ad/r/computer.html">ad_computer</a>
                </li>
	              <li<%= sidebar_current("docs-ad-computer-to-ou") %>>
	                <a href="/docs/providers/ad/r/computer_to_ou.html">ad_computer_to_ou</a>
	              </li>
              </ul>
            </li>
            
            <li<%= sidebar_current("docs-ad-organizational-unit") %>>
              <a href="/docs/providers/ad/r/organizational_unit.html">ad_organizational_unit</a>
            </li>
        </ul>
      </div>
    <% end %>
  <%= yield %>
<% end %>
